.body{
	background-color: #717171;
	overflow: hidden;
}

.background{
	background-image: url('../image/backgroundImage.jpg');
	width: 100%;
	height: 600px;
	position: relative;
	background-repeat: no-repeat;
	opacity: .8;
	filter: blur(5px);
	align-content: center;
	background-attachment: fixed;
  	background-position: center;
}
.allContent{
	position: absolute;
	top: 0;
	margin: 50px;
	width: 100%;
}
.sideBar{
	margin-top: 180px;
	margin-left: 30px;
	animation-name: side;
	animation-duration: 1s;
}
@keyframes side{
	from{margin-left: -200px;}
	to{margin-left: 30px;}
}
.sideBar i{
	padding: 10px;
	background-image: linear-gradient(to left top, #30bc6f, #4bc963, #68d552, #87e13b, #a8eb12);
	font-size: 25px;
	color: #FFFFFF;
	margin-bottom: 2px;
	border-radius: 5px;
}
.sideBar i:hover{
	cursor: pointer;
	background-image: none;
	background-color: #FFFFFF;
	color: #52C5E8;
}

.info{
	background-color: rgba(255, 255, 255,.8);
	width: 100%;
	padding: 20px;
	margin-top: -10px;
	border-radius: 10px;
	animation-name: info;
	animation-duration: .8s;
	/* height: 552px; */
	/* filter: drop-shadow(0 0 2px #FFFFFF); */
}
@keyframes info{
	from{margin-left: -300px;}
	to{margin-left: 0px;}
}
.info h2{
	color: #595959;
	font-family: sans-serif;
	margin-bottom: 20px;
}
.info .h2 span{
	color: #52C5E8;
}
.info h4{
	color: #595959;
	font-family: sans-serif;
	border-bottom: 1px solid #B6B6B6;
	padding-bottom: 3px;
}

.info .h4{
	color: #52C5E8 !important;
}
.info .h4 span{
	color: #595959;
	border-bottom: 2px solid #52C5E8;
	padding-bottom: 3px;
	letter-spacing: 5px;

}
.personalInfo{
	height: 512px;
}
.personalInfo h6{
	display: inline-block;
}
.personalInfo table {
  font-family: serif;
  border-collapse: collapse;
  width: 100%;
}
.personalInfo table td a{
	color: black;
}
.personalInfo table td a:hover{
	text-decoration: none;
	color: crimson;
}
.activities h5{
	color: #52C5E8;
	font-family: sans-serif;
	border-bottom: 1px solid #B6B6B6;
	padding-bottom: 3px;
}
.activities span{
	color: #595959;
	border-bottom: 2px solid #52C5E8;
	padding-bottom: 3px;
}
.personalInfo p{
	font-size: 15px;
	text-align: justify;
}

/*For ID 2 / Education*/
.educationInfo{
	display: none;
	height: 512px;
}
.eduLists{
	margin-left: 10px;
	margin-top: 5px;
}

.eduLists .eduList{
	border-bottom: 2px solid powderblue;
	margin-top: 10px;
}
.eduList h5{
	margin-top: 10px;
}
.eduLists .eduList1{
	width: 40%;
}
.eduLists .eduList2{
	width: 50%;
}
.eduLists .eduList3{
	width: 60%;
}
.eduLists .eduList4{
	width: 70%;
}
.eduList p{
	margin-bottom: 0px;
}

/* For Id 3 projects */
.projectsPage{
	display: none;
	height: 512px;
}
.skills ul{
	list-style-type: circle;
}
.myWork ul{
	list-style-type: square;
}
.myWork iframe{
	width: 100%;
}

.displayImageContent{
	background-color:rgba(00, 31, 52, .7);
	width: 100%;
	padding: 20px;
	margin-top: -10px;
	padding-bottom: 25px;
	border-radius: 10px;
	filter: drop-shadow(0 0 2px #003152);
	animation-name: dp;
	animation-duration: .5s;
}
@keyframes dp{
	from{margin-left: -300px;}
	to{margin-left: 0px;}
}
.displayImage{
	width: 32%;
	border: 3px solid #4169E2;
	border-radius: 50%;

}
.displayImageContent h3{
	color: #52C5E8;
	font-weight: 300;
	margin-top: 25px;
}
.displayImageContent h6{
	color: #FFFFFF;
	font-weight: 100;
}

.displayImageContent .displayContent{
	border-top: 2px solid #4169E2;
	border-bottom: 2px solid #4169E2;
	padding: 3px;
	color: #FFFFFF;
	font-weight: 100;
	margin-top: 20px;
	text-indent: 50px;
	text-align: justify;
}

.socialLinks{
	margin-top: 25px;
}
.socialLinks span{
	border-bottom: 2px solid #4169E2;
}
.socialIcons{
	margin: 10px;
	margin-top: 20px;
}
.socialIcons i{
	margin-right: 10px;
	font-size: 35px;
	color: #FFFFFF;
	padding: 10px;
	border: 1px solid #FFFFFF;
	border-radius: 10px;
	transition: all .5s;
}
.socialIcons i:hover{
	transform: rotate(360deg);
	color: #52C5E8;
	filter: drop-shadow(0 0 2px #FFFFFF);
}

@media only screen and (max-width: 767px){
	.body{
		overflow: scroll;
	}	
	.allContent{
		margin: 2px;
		width: 99%;
	}
	.sideBar{
		margin-top: 5px;
		margin-left: 0px;
		text-align: center;
	}
	.info{
		margin-top: 10px;
	}
	.info h2{
		font-size: 30px;
	}
	.personalInfo{
		height: 648px;
	}
	.displayImageContent{
		margin-top: 10px;
		height: 800px;
	}
	.educationInfo{
		height: 550px;
	}
	.eduList{
		width: 100% !important;
	}
	.projectsPage{
		height: 840px;
	}
}